@font-face {
  font-family: 'SometypeMono';
  src: url('fonts/SometypeMono-Bold.ttf');
}
.scroll-container {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: hsl(213, 91%, 17%);
  /* postcss-scrollbar will add the -webkit version automatically! */
}
body {
  background: linear-gradient(rgb(2, 17, 27), rgb(34, 60, 72));
  background-attachment: fixed;
}
.body {
  width: 100dvw;
  height: 100dvh;
  display: -ms-grid;
}
.card-title {
  font-family: 'SometypeMono';
}
.head-message {
  display: flex;
  padding-top: 120px;
  font-family: 'SometypeMono';
  letter-spacing: 0.01em;
}
.p-divider-vertical {
  color: rgb(255, 255, 255);
}
.card-description {
  opacity: 0.5;
}
.card-description:hover {
  opacity: 1;
  transition: all 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}